<html>
    <head>
        <title>Vcard Qrcode</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>    
        <link data-react-helmet="true" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" rel="stylesheet" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.1.0/jszip-utils.min.js"></script>
        <script type="text/javascript" src="./app.js"></script>
        <style>
            table tr td {
                vertical-align: middle!important;
            }
            td:first-child {
                padding: 0!important;
                text-align: center!important;
                width: fit-content;
            }
        </style>
    </head>
    <body ng-app="qrCodeApp">

    <div ng-controller="contactController as vm">

        <section class="section">
            <div class="container">
              <h1 class="title" ng-click="rename()">
                {{vm.title}}
              </h1>
              <p class="subtitle">
                upload a CSV file
              </p>
              <input class="button" type="file" name="file" ng-model="fileUpload" id="file" ng-click="vm.loaded = true">
              <button class="button" ng-click="getCodes()" ng-if="vm.loaded">Create QR Codes</button>
              <button class="button" ng-click="downloadCodes()" ng-if="vm.download">Download QR Codes</button>
              <img id="qrcode" />
            </div>
        </section>
        <section class="section">
        <table ng-if="vm.contacts" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="table">
            <thead>
              <tr>
                <th><strong>QR</strong></th>
                <th ng-repeat="heading in vm.headings"><strong>{{heading}}</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="contact in vm.contacts">
                <td><img ng-src={{contact.url}} style="width: 50px; height: 50px;" /></td>
                <td ng-if="vm.headings[0]">{{contact.first}} {{contact.last}}</td>
                <td ng-if="vm.headings[1]">{{contact.title}}</td>
                <td ng-if="vm.headings[2]">{{contact.phone}}</td>
                <td ng-if="vm.headings[3]">{{contact.cell}}</td>
                <td ng-if="vm.headings[4]">{{contact.email}}</td>
                <td ng-if="vm.headings[5]">{{contact.business}}</td>
                <td ng-if="vm.headings[6]">{{contact.bcity}}</td>
                <td ng-if="vm.headings[7]">{{contact.bstate}}</td>
                <td ng-if="vm.headings[8]">{{contact.bzip}}</td>
                <td ng-if="vm.headings[9]">{{contact.home}}</td>
                <td ng-if="vm.headings[10]">{{contact.hcity}}</td>
                <td ng-if="vm.headings[11]">{{contact.hstate}}</td>
                <td ng-if="vm.headings[12]">{{contact.hzip}}</td>
                <td ng-if="vm.headings[13]">{{contact.other}}</td>
                <td ng-if="vm.headings[14]">{{contact.ocity}}</td>
                <td ng-if="vm.headings[15]">{{contact.ostate}}</td>
                <td ng-if="vm.headings[16]">{{contact.ozip}}</td>
              </tr>
            </tbody>
        </table>
        </section>

    </div>
</body>
</html>
